<a class="btn btn-primary m-2" routerLink="/projects">projets</a>
<a class="btn btn-danger m-2" routerLink="../..">Back</a>
<div *ngIf="project">
    <div class="text-center   p-3  projectName">
        <H2 > {{project.name}}</H2>
        <p> Description : {{project.describe}}</p> 
    </div>
    <div *ngFor="let functionality of project.functionalities">
        <div *ngIf="functionalityId === functionality.id">  
            <h3 class="text-center m-2"> {{functionality.name}}</h3>
        </div>
    </div>
</div>
