<p>project-single works!</p>
<a routerLink="/projects">back</a>

<div *ngIf="project">
    <div class="text-center  bg-secondary p-3 text-white">
        <H2 > {{project.name}}</H2>
        <p> Description : {{project.describ}}</p> 
    </div>
</div>
<div *ngIf="project" class="container-fluid d-flex col-12 flex-wrap justify-content-center">
    <div *ngFor="let functionality of project.functionalities" class="card col-3 p-2 m-2">    
        <h3>{{functionality.name}}</h3>
        <p><small>identifiant : {{functionality.id}}</small></p>
        <p>version : {{functionality.version}}</p>
        <p>description : {{functionality.describ}} du Projet : {{project.name}}</p>
        <a routerLink="../../project/{{project.id}}/functionality/{{functionality.id}}" class="btn btn-primary col-6 m-auto">Voir cette functionalitée</a>     
    </div>
</div>

